<td>
  <%= f.text_field :price %>
  <%= t(:'number.currency.format.unit') %>
</td>
<td><%= f.text_field :sku %></td>
<td><%= f.text_field :weight %></td>
<td><%= f.text_field :width %></td>
<td><%= f.text_field :height %></td>
<td><%= f.text_field :depth %></td>
