<%= f.field_container :weight do %>
  <%= f.label :weight, t("master_weight")%> <span class="required">*</span><br />
  <%= f.text_field :weight, :value => number_with_precision(@product.weight, :precision => 2)  %>
  <%= f.error_message_on :weight %>
<% end %>
<%= f.field_container :width do %>
  <%= f.label :width, t("master_width")%> <span class="required">*</span><br />
  <%= f.text_field :width, :value => number_with_precision(@product.width, :precision => 2)  %>
  <%= f.error_message_on :width %>
<% end %>
<%= f.field_container :height do %>
  <%= f.label :height, t("master_height")%> <span class="required">*</span><br />
  <%= f.text_field :height, :value => number_with_precision(@product.height, :precision => 2)  %>
  <%= f.error_message_on :height %>
<% end %>
<%= f.field_container :depth do %>
  <%= f.label :depth, t("master_depth")%><br />
  <%= f.text_field :depth, :value => number_with_precision(@product.depth, :precision => 2)  %>
  <%= f.error_message_on :depth %>
<% end %>